p {
    margin: 0;
}


.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    /****color**/
    background-color: #989898;
    color:#514378;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  }

.card__img {
    text-align: center;
    border-radius: calc(0.25rem - 1px);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0.05rem;
}

.card__types {
    display: flex;
    justify-content: center;    
}

.card__type {
    padding: 5px 10px;
    margin: 10px 10px 10px 0;
    border-radius: 5px;
    background: cyan;
    color: #000;
}
.card-title {
    margin-bottom: 0.75rem;
    text-align: center;
    text-transform: capitalize;
  }


.card__info {
    text-align: center; 
    padding: 5px 10px;
    margin: 10px 10px 10px 0;
    
}

.card__data {
    display: flex;
    justify-content: center; 
    padding: 5px 10px;
    margin: 0px 10px;


}

.try{
    margin: 0px 10px;
}

